{% extends 'base.html.twig' %}

{% block title %}Ajout Animal{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ asset('css/styleForm.css')}}">
{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

<div class="ajouter">
    <h1 class='ajout'>Ajouter Animal</h1>

    {{ form_start(animalForm)}}
        {{ form_row(animalForm.prenom) }}
        {{ form_row(animalForm.image, {
            attr: {'required': 'required'},
            label: 'Image'
            })
        }}
        {{ form_row(animalForm.race) }}
        {{ form_row(animalForm.etat) }}
        {{ form_row(animalForm.habitat) }}
        {{ form_row(animalForm.Ajouter, {
            label: 'Ajouter Animal'
            })
        }}
    {{ form_end(animalForm)}}

</div>
{% endblock %}
