{% extends 'base.html.twig' %}

{% block title %}Habitats{% endblock %}

{% block body %}

  {% set flashTypes = ['deleted', 'edited'] %}
    {% for type in flashTypes %}
        {% for message in app.flashes(type) %}
            <div class="alert alert-success">
                {{ message}}
            </div>
        {% endfor %}
  {% endfor %}

<div class="example-wrapper">
     <h1>Liste des habitats</h1>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nom</th>
          <th scope="col">Image</th>
          <th scope="col">Description</th>
          <th scope="col">Date de création</th>
          <th scope="col">Dernière modification</th>
          
          <th scope="col">Action</th>


        </tr>
      </thead>
      <tbody>
        
        {% for habitat in habitats %}
          <tr>
            <th>{{ habitat.id }} </th>
            <td>{{ habitat.nom }}</td>
            <td><img width=200 src="\uploads\habitats\{{ habitat.image }}" alt="IMG_Habitat"> </td>
            <td>{{ habitat.description }}</td>
            <td>{{ habitat.createdAt? habitat.createdAt|date('d/m/Y H:i'): 'Non défini'}}</td>
            <td>{{ habitat.updatedAt? habitat.updatedAt|date('d/m/Y H:i'): 'Non défini'}}</td>
            <td> <a href="{{ path('edit_habitat', {paramId: habitat.id}) }}" type="button" class="btn btn-warning">Modifier</a>  
            <a href="{{ path('supp_habitat', {paramId: habitat.id})}}"
            class="btn btn-danger"
            onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet habitat?');">
            Supprimer</a></td>  
          </tr>
        {% endfor %}

      </tbody>

    </table>  

  
</div>

<div>

<h3>Pour rajouter un nouveau HABITAT <a href="{{ path('habitat_new') }}">Cliquez-ici</a></h3>

</div>

  
{% endblock %}

