{% extends 'base.html.twig' %}

{% block title %}Zoo écologique🐊{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ asset('css/styleIndex.css')}}">
{% endblock %}

{% block body %}

            {% for message in app.flashes('successAvis') %}
                <div class="popup-alert" id="popup-alert">
                    {{ message}}
                </div>
            {% endfor %}

<div id="popup" class="popup-container">
  <div class="popup-box">
    <p>
      🚫 Ce site <strong>n'utilise aucun cookie</strong> de suivi.<br>
      ✅ Les données que vous nous transmettez pour nous contacter ou laisser un avis sont utilisées uniquement pour améliorer votre expérience.<br>
      🔒 Aucune information n'est revendue ou partagée.
    </p>
    <button onclick="closePopup()">J'ai compris</button>
  </div>
</div>


<div class="zoo-header">
  <h1>ZOO</h1>
  <h2>Découvrez notre nouveau ZOO entièrement écologique</h2>

</div>

<section class="habitat">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for habitat in habitats %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <img src="\uploads\habitats\{{ habitat.image }}" class="d-block w-100" alt="{{ habitat.nom}}">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ habitat.nom}}</h5>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Précédent</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Suivant</span>
        </button>
    </div>

    <div class="habitat-button-container">
         <a href="{{path('habitats')}}" class="btn-ecologie caroussel-habitat">Voir les habitats</a>
    </div>
</section>

<div class="separateur"></div>

<section class='animaux'>
    <h2 class="amis-les-animaux">NOS AMIS LES ANIMAUX</h2>
    <div class="animal-cards">
    {% for animal in animals %}
        <div class="animal-card">
            <img src="{{ asset('uploads/animals/' ~ animal.image)}}" alt="{{ animal.prenom}}">
            <div class="animal-info">
                <h2>{{ animal.prenom}}</h2>
                <p><strong>Race:</strong> {{ animal.race}}</p>
                <p><strong>Habitat:</strong> {{ animal.habitat.nom}}</p>
            </div>
        </div>
    {% endfor %}
    </div>   

    <div class="habitat-button-container">
         <a href="{{path('habitats')}}" class="btn-ecologie caroussel-habitat">Plus d'amis</a>
         <a href="{{path('api')}}" class="btn-ecologie caroussel-habitat">Histoire Fun de nos amis</a>
    </div>    
</section>

<div class="separateur"></div>

<section class="service">

    <div class="services">
        <h2 class="service-titre">NOS SERVICES</h2>
        <div class="service-cards">
        <div class="service-card">
            <img src="/images/petit_train.jpg" alt="Petit Train">
            <h2>Petit Train</h2>
            <p>Découvrez notre petit train qui vous emmène à travers le zoo pour une visite guidée inoubliable !</p>
        </div>
        <div class="service-card">
            <img src="/images/balades.jpg" alt="Balades">
            <h2>Balades</h2>
            <p>Promenez-vous à travers les différents habitats de nos animaux et découvrez leur monde fascinant !</p>
        </div>
        <div class="service-card">
            <img src="/images/spectacles.jpg" alt="Spectacles">
            <h2>Spectacles</h2>
            <p>Assistez à nos spectacles d'animaux pour une expérience unique et inoubliable !</p>
        </div>
        </div>
        <div class="contact-button">
            <p>Si vous avez des questions par rapport à nos services, merci de nous contacter au :</p>
            <a href="tel:0601020305" class="btn-contact">06 01 02 03 05</a>
        </div>
    </div>

</section>

<div class="separateur"></div>

<section class="avis">

    <h2 class='avis-titre'>TEMOIGNAGES</h2>

    <div class="avis-section">
     <div class="avis-list">
            {% for a in avis %}
                <div class="avis-card">
                    <h3>{{ a.username}}</h3>
                    <div class="note">
                        {% for i in 1..a.note %}
                            ⭐
                        {% endfor %}
                    </div>
                    <p>{{ a.message}}</p>
                    <div class="date">{{ a.createdAt|date('d/m/Y')}}</div>
                </div>
            {% endfor %}
        </div>

        <div class="voir-tous-container">
            <a href="{{ path('avis')}}" class="voir-tous-btn">Voir tous les avis</a>
        </div>
    
        <div class="avis-form">
            <h3 class="avis-intro">Laissez votre témoignage</h3>
            {{ form_start(form)}}
            {{ form_widget(form)}}
            <button type="submit">Envoyer</button>
            {{ form_end(form)}}
        </div>   

    </div>   
   
</section>

{% block script %}
    <script src="{{ asset('js/appIndex.js') }}"></>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock %}

{% endblock %}
