<nav class="navbar navbar-expand-lg navbar-light bg-success bg-opacity-75 shadow-sm">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center text-white fw-bold" href="{{ path('home')}}">
    {# le logo ne veut pas prendre du CSS  #}
      <img src="{{ asset('images/logo-zoo.png')}}" alt="Logo Zoo" class="logo-zoo"> 
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ path('habitats')}}">Découvrir les habitats</a>
        </li>

        {% if not app.user %}
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Contact</a>
          </li>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
          <li class="nav-item">
            <a class="nav-link text-white" href="{{ path('dashboard')}}">Espace Admin</a>
          </li>
        {% endif %}

        {% if is_granted('ROLE_EMPLOYE') %}
          <li class="nav-item">
            <a class="nav-link text-white" href="{{ path('employe_dashboard')}}">Espace Employé</a>
          </li>
        {% endif %}

        {% if is_granted('ROLE_VETERINAIRE') %}
          <li class="nav-item">
            <a class="nav-link text-white" href="{{ path('vet_dashboard')}}">Portail Vétérinaire</a>
          </li>
        {% endif %}
      </ul>

      <div class="d-flex">
        {% if app.user %}
          <a href="{{ path('app_logout')}}" class="btn btn-outline-light">Se déconnecter</a>
        {% else %}
          <a href="{{ path('app_login')}}" class="btn btn-outline-light">Se connecter</a>
        {% endif %}

        <button id="toggle-darkmode" class="btn btn-sm bg-transparent border-0" title="Mode sombre">
          <img id="icon-darkmode" src="{{ asset('images/moon-icon.png')}}" alt="Activer le mode sombre" width="24" height="24">
        </button>
      </div>
    </div>

  </div>
</nav>